## EXERCISE 1

In [16]:
def calculate(a, b=10, c=None):
    if c is None:
        print("Sum:", a + b)
    else:
        print("Product:", a * b * c)


calculate(5)           
calculate(2, 4)         
calculate(2, 4, 3)

Sum: 15
Sum: 6
Product: 24

## EXERCISE 2

In [8]:
expression = "3 * 5 + 2"
result = eval(expression)
print("Result:", result)

Result: 17

## EXERCISE 3

In [10]:
def filter_long_strings(strings):
    return [s for s in strings if len(s) >= 5]

# Example usage:
words = ["apple", "dog", "banana", "cat", "hello"]
print(filter_long_strings(words))

['apple', 'banana', 'hello']

## EXERCISE 4

In [6]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

numbers = [2, 3, 4, 5, 6, 7, 10, 13, 15, 17]
prime_numbers = list(filter(is_prime, numbers))
print("Prime numbers:", prime_numbers)

Prime numbers: [2, 3, 5, 7, 13, 17]

In [ ]:
## EXERCISE 5

In [4]:
words = ["apple", "banana", "cherry"]
upper_words = list(map(str.upper, words))
print("Uppercase words:", upper_words)

Uppercase words: ['APPLE', 'BANANA', 'CHERRY']